@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Raleway:wght@400;500&display=swap');

html {
	font-size: 20px;
    font-family: Montserrat, sans-serif;
}

body {
    font-size: 1rem;
    background-color: #efefef;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

* {
	scrollbar-width: thin;
	scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.1);
}

*::-webkit-scrollbar {
	width: .3rem;
	height: .3rem;
}

*::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0.1);
}

*::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 8px;
}