:root {
    --black-color: #292929;
    --white-color: #fff;
    --gray-color: #A3A3A3;
    --gray-color-50: rgba(163, 163, 163, .5);
    --gray-border-color: #DADADA;
    --green-color: #B1F7B8;
    --blue-color: #026ba5;
}